<%layout("/boilerplate/boilerplate.ejs")%>
<body>
    <div id="about-main">
        <div class="about-page1">
            <h2>About me</h2>
            <img src="C:\Users\Nitish Kumar\Desktop\nitish 2.jpg" alt="personal photo">
            <p><b>Name:</b>Nitish kumar</p>
            <p><b>Profession:</b>Student</p>
            <p><b>Education:</b>Pursuing Bachelor</p>
            <div class="socials">
                <a href="https://www.instagram.com/nitishkumarmahto7?igsh=MzZnZGE2ZGM1YzBs" target="_blank"><i class="ri-instagram-fill"></i></a>
                <a href="https://github.com/Nitishkumarmahto"  target="_blank"><i class="ri-github-fill"></i></a>
                <a href="https://www.linkedin.com/in/nitish-kumar-8643b6292"  target="_blank"><i class="ri-linkedin-box-fill"></i></a>
                <a href="mailto:nitishkumarmahto3333@gmail.com"  target="_blank"><i class="ri-mail-send-fill"></i></a>
            </div>
            <a href="/Resume.pdf.docx" download name="Resume" class="btn-download">Download Resume</a>
        </div>

    </div>




</body>